body{
    margin: 0px;
    padding: 0px;
    background-color: #e7e7e7;
}

#nav-container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    text-align: center;
}

#play-again{
    background-color: #3c93f7;
    color: #ffffff;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

#play-again:hover{
    background-color: #3671b4;
}

#main-content{
    margin: 50px 0px 50px 0px;
    text-align: center;
}

#scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreboard div{
    margin-left: 40px;
    margin-right: 40px;
}

.scores{
    padding: 0px;
    margin: 0px;
    font-size: 46px;
}

#choice{
    text-align: center;
}

#options{
    display: flex;
    align-items: center;
    justify-content: center;
}

#options img{
    height: 80px;
    width: 80px;
    padding: 10px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    margin: 20px;
}

#rock{
    background-color: #b8aa9a;
}

#paper{
    background-color: #f3f0cc;
}

#scissors{
    background-color: #a9aab8;
}

#rock:hover{
    background-color: #8f8477;
}

#paper:hover{
    background-color: #dfdbb6;
}

#scissors:hover{
    background-color: #81818b;
}

#rules{
    text-align: left;
    margin-left: 10px;
}

#footer-container{
    position: relative;
}

#footer-container p{
    text-align: center;
}